@model Biosite.Domain.Problem.Entities.DiseasePrescription

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link href="~/Content/style.css" rel="stylesheet" />
}

<div>
    <h2>@Html.ActionLink("Voltar", "DiseasePrescriptionShow")</h2>
</div>

@using (Html.BeginForm("EditDiseasePrescription", "Disease", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Prescription</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>Doença: </td>
                <td>
                    @Html.DropDownListFor(x => x.DiseaseId, new SelectList(ViewBag.Diseases, "Id", "Name"), "Selecione", new { @class = "form-control" })
                </td>
            </tr>

            <tr><td><br /></td></tr>

            <tr>
                <td>Prescrição: </td>
                <td>
                    @Html.DropDownListFor(x => x.PrescriptionId, new SelectList(ViewBag.Prescriptions, "Id", "Name"), "Selecione", new { @class = "form-control" })
                </td>
            </tr>

            <tr><td><br /></td></tr>

            <tr>
                <td></td>
                <td><input type="submit" value="SALVAR" /></td>
            </tr>

        </table>


    </div>
}

<div>
    @Html.ActionLink("Voltar", "DiseasePrescriptionShow")
</div>

